<a href="https://colab.research.google.com/github/shyamck14/shyamck14/blob/master/Python_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.printing numbers
2.printing each characters in a string

In [1]:
#printing numbers

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# printing each characters in a string

text = "hello"
for char in text:
  print(char)

h
e
l
l
o

In [3]:
# sum of list

numbers = [1,2,3,4,5]
total = 0
for num in numbers:
  total += num
print(total)

15

In [4]:
# finding the largest number

numbers = [10,20,30,40,50]
largest = numbers[0]
for num in numbers:
  if num > largest:
    largest = num
print(largest)

50

In [5]:
# multiplication table

number = 5
for i in range(1,11):
  print(f"{number} * {i} = {number * i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
# list of squares

numbers = [1,2,3,4,5]
squares = []
for num in numbers:
  squares.append(num ** 2)
print(squares)

[1, 4, 9, 16, 25]

In [13]:
# list of squares , method 2

squares = []
for i in range(1,6):
  squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25]

In [7]:
# even numbers in range

start = 1
end = 10
for num in range(start,end+1):
  if num % 2 == 0:
    print(num)

2
4
6
8
10

In [12]:
# even numbers in a range , method 2

for i in range(1,10):
  if i % 2 == 0:
      print(i)

2
4
6
8

In [8]:
# count vowels in a string

text = "hello world"
vowels = "aeiouAEIOU"
count = 0
for char in text:
  if char in vowels:
    count += 1
print(count)

3

In [9]:
# reversing a list

fruits = ["apple","banana","cherry"]
for fruit in reversed(fruits):
  print(fruit)

cherry
banana
apple

In [10]:
# nested for loop

for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3