<a href="https://colab.research.google.com/github/shyamck14/shyamck14/blob/master/Range_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Range function

* range function is used to generate a sequence of numbers
* its very useful in loops and other situations where you need a sequence of numbers

In [1]:
#simple for loop with range

for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
# range with start and stop

for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
# range with steps

for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [4]:
# sum of first N natural number

n = 10
sum = 0
for i in range (1,n+1):
    sum = sum + i
print(sum)

55

In [5]:
# multiplication table

n = 5
for i in range (1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
# multiplication table - method 2
# can mention n 0r number

number = 5
for i in range (1,11):
    print(f"{number} * {i} = {number*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50